section#inicio {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100%;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.4s ease;
    z-index: 1000;
}

.card-text{
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  color: #bbb;
}

.btn-outline-primary:hover {
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.6);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  overflow: visible;
  transition: 0.3s ease;
  border-radius: 12px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.card:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}