{% extends "base.html" %}

{% block title %}Início - Portfólio{% endblock %}

{% block content %}
<section id="inicio" class="p-5 text-white">
    <div class="container">
        <iframe title="Relatório de Probabilidade de Fraude" width="1400" height="800" 
        src="https://app.powerbi.com/reportEmbed?reportId=6513b484-a3eb-44a6-aaa1-42ba68dc71f5&autoAuth=true&ctid=ba201131-9621-49ca-b50d-57d968b4ac35" 
        frameborder="0" allowFullScreen="true"></iframe>
    </div>
</section>
{% endblock %}